<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息查询页面</title>
    <link rel="stylesheet" href="<?php echo base_url().'style/admin/css/demo.css'?>">
    <script src="<?php echo base_url().'style/admin/js/mydate.js'?>"></script>
</head>
<body>

<div id="contant">
    <center>
    <form method="post" action="<?php echo site_url().'/Admin/search_student'?>" >

        <p class="col">请输入学号：<input type="text" name="number"></p>
        <p class="col"><button id="btn" value="submit">提交</button></p>
    </form>
    </center>
</div>



</body>
</html>