#contant{
    width: 300px;
    margin: 0 auto;
}
#contant .col{
    line-height: 1.5em;
}
#contant #btn{
    border: none;
    width: 54px;
    height: 43px;
    background: url(ico.gif) no-repeat 0 -100px;
    color: #fff;
    font-family: Microsoft YaHei;
    font-weight: bold;
    margin-left: 76px;
}