<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'/style/index/index.css'?>" />

    <script type="text/javascript">
        function load_captcha(id,url){
            $("#"+id).html('');
            $("#"+id).load(url);
        }
    </script>
    <script language="JavaScript">
        if (window != top)
            top.location.href = location.href;
    </script>
</head>
 
<body>
    <form id="login" action="<?php echo site_url('Login/check')?>"  method="post">
        <label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="用户名">
        <label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="密码">
         <label for="identifyingCode">identifyingCode</label><input type="text" name="identifyingCode" class="placeholder" placeholder="验证码">
        <input type="submit" value="登录">
        <div id="identifyPicture"><?php echo $captcha?></div>
    </form>
    
</body>
 
</html>
